main {
  margin-left: 159px;
  padding: 0px 65px 0px 35px;
  height: 100%;
}
.main {
  min-height: 100%;
  padding-bottom: 1.875rem;
}

@media screen and (max-width: 768px) {
  main {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 40px;
  }
}
