main {
  margin-left: 159px;
  position: relative;
  padding: 0rem 65px 0px 35px;
  height: 100%;
  position: relative;
}
.main {
  min-height: 100%;
  padding-bottom: 1.875rem;
}

@media screen and (max-width: 768px) {
  main {
    margin-left: 0px;
    margin-right: 0px;
    background-color: red;
    padding: 0;
    width: 100%;
    margin: auto;
  }
}
